---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.books.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.books -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}  
          </a>
          <p class="post-meta">
            ISBN: {{ post.ISBN }}
            •
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
              Date read: {{ post.date_read | date: date_format }}
            </time>
            •
            Recommendation: {{ post.recommendation }}/10

        </h3>
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
